.informationLinks {
  position: relative;
  background: #3e3e3e;
}

.informationLink {
  margin-left: 10px;
  margin-right: 15px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 0.03em;
}
.informationLink:hover {
  color: #ccc;
}
