* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}

#root,
.rootApp {
  height: 100%;
  overflow-y: hidden;
}

a {
  color: #868fa0;
  cursor: pointer;
}

.page.bg-image {
  background-image: url(./CA-bg.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  padding-top: 10vh;
}

.page .heading-1 {
  font-size: calc(16px + 1vh);
  font-weight: lighter;
  letter-spacing: calc(5px + 1vw);
  line-height: 1.5em;
  color: #3e3e3e;
}

.page .content-box {
  margin-left: 100px;
}
@media only screen and (max-width: 400px) {
  .page .content-box {
    margin-left: 25px;
  }
}

button.like-link {
  border: none;
  background: none;
  color: #868fa0;
  cursor: pointer;
  font-size: 12px;
  padding: 0;
}

label.header {
  display: block;
  font-weight: bold;
  color: #3e3e3e;
  margin-top: 70px;
  margin-bottom: 15px;
  letter-spacing: 0.05em;
}

.rootVerticalApp {
  height: 100%;
}
.horizontalWrap {
  height: calc(100% - 300px);
  overflow: auto;
  position: relative;
  display: flex;
  overflow: hidden;
}

.horizontalWrap > * {
  float: left;
  width: 60vw; /*if you change this, change also .layersPopup position */
  height: 100%;
}
.verticalWrap {
  height: 100%;
  background: #3e3e3e;
  position: relative;
}
.verticalWrap > * {
  flex: 1;
}
#classificationComponent {
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
#classificationComponent > .literally {
  height: 100%;
  overflow: hidden;
}

.footer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  background: #3e3e3e;
  bottom: 0;
  justify-content: space-between;
}

.logo-footer {
  width: 120px;
  margin-right: 5px;
}

.imageSlides {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  background: #3e3e3e;
  text-align: left;
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 5px;
  padding-right: 5px;
  background-origin: content-box;
}

.imageSlides img {
  cursor: pointer;
  opacity: 0.7;
  margin: 7px 3px 5px 3px;
  border: 1px solid transparent;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
}
.imageSlides img:hover,
.imageSlides img.active {
  opacity: 1;
  border-color: #fff;
}

.color-well {
  display: none;
}

#map {
  z-index: 0; /* this allows layersPopup to go in front of map */
  height: 100%;
  width: 100%;
}

.visible.transition {
  display: flex !important;
  visibility: visible !important;
}

.taskHelp {
  z-index: 1;
  width: auto;
  height: auto;
  padding: 5px;
  overflow: hidden;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12pt;
}

button {
  height: 26px;
  color: black;
  background-color: white;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
  margin-bottom: 3px;
  border: 1px solid #666;
  border-radius: 50px;
  white-space: nowrap;
}

.taskHelpImg {
  height: 20px;
  width: 20px;
}

.logos {
  display: flex;
  position: absolute;
  width: 400px;
  bottom: 15px;
  right: 0;
  align-items: center;
  justify-content: center;
  max-width: 95vw;
}

.logo-EOR {
  width: 100px;
}

.logo-SH {
  width: 200px;
  margin-left: 20px;
}

.saveButton {
  padding: 4px 10px 0 10px;
}
